.wrapper {
	font-size: 12px;
}

.dataTables_wrapper td {
	padding: 5px !important;
}

tr.groupheader tda {
	background-color: #F0AD4E !important;
}

.selects div, .selects label {
	display: inline;
	float: right;
}
.selects label {
	padding-right: 10px;
	padding-left: 20px;
	padding: 6px 12px;
	vertical-align: middle;

}

